html {
  scroll-behavior: smooth;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

&:root {
  font-size: 62.5%;

  body {
    margin: 0;
    font-size: 1.6rem;
    font-size: 16px;
    font-size: 1.6rem;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

.homepage {
  nav {
    position: fixed;
    right: 50px;
    top: calc(50% - 144px);
    padding: 0 20px;

    ul {
      text-align: right;

      li {
        font-family: 'Roboto Condensed', sans-serif;
        margin: 15px 0;
        position: relative;
        cursor: pointer;

        a {
          color: #fff;
          font-size: 1.8rem;
          font-size: 18px;
          font-size: 1.8rem;
          font-weight: bold;
          line-height: 1.2;
          display: block;
          text-transform: uppercase;
          text-decoration: none;
          opacity: .5;
        }

        &:after {
          position: absolute;
          content: '';
          top: 0;
          right: -15px;
          width: 4px;
          height: 100%;
          background: #fff;
          opacity: 0;
        }
      }

      li.active {
        a {
          opacity: 1;
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }
}



header {
  width: 100%;
  background: #eee;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .logo {
    width: 250px;
    height: 50px;
  }

  nav {
    width: auto;
    max-width: 60%;
    text-align: right;

    ul {
      li {
        display: inline-block;
        margin: 0 10px;

        &:first-child {
          margin: 0 10px 0 0;
        }

        &:last-child {
          margin: 0 0 0 10px;
        }
      }

      li.has__sub {
        position: relative;

        &:hover {
          .submenu {
            display: block;
          }
        }
      }

      .submenu {
        display: none;
        position: absolute;
        left: 0;
        top: 30px;
        width: auto;
        min-width: 250px;
        background: blue;
        padding: 30px;

        ul {
          li {
            display: block;
            width: 100%;
            margin: 0;
            text-align: left;
          }
        }
      }
    }
  }
}

.section1 {
  background: blue;
}

.section2 {
  background: red;
}

.section3 {
  background: green;
}

.section4 {
  background: purple;
}

.section5 {
  background: orange;
}

.section6 {
  background: hotpink;
}